<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus velit
        rerum voluptatum doloremque repellat aut magnam, doloribus veritatis
        saepe animi itaque dolorum provident illum, impedit quidem distinctio
        deserunt libero debitis?
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><em class="fa-solid fa-envelope"></em>email@mail.com</li>
        <li><em class="fa-solid fa-phone"></em>(00) 0000-0000</li>
        <li><em class="fa-brands fa-whatsapp"></em>(00) 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
